/* PlaylistNav Stylesheet 
1. Typography Styles
2. Desktop Structure Styles
3. Mobile Structure Styles

====================================  */

/* 1. Typography Styles
====================================  */

.headline {
    font-family: "Yellowtail", serif;
    font-weight: 600;
    font-size: 86px;
    color: #235789
}

.navitem {
    font-family: "Albert Sans", serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #235789;
}


/* 2. Desktop Structure Styles
====================================  */ 

nav {
    width: 90%;
    display: grid;
    margin: 15px 5vw;

}